body {
    background-color: #DAAD86;
    margin-top: 100px;
}

.app {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    text-align: left;
    color: #8D8741;
}

.todo-list {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.todo {
    background-color: #659DBD;
    width: 48%;
    margin: 5px 0;
    border-radius: 10px;
}

.todo.completed {
    background-color: #FBEEC1;
    text-decoration: line-through;
}

form > input {
    background-color: #DAAD86;
    border: 0;
    border-bottom: 1px solid #8D8741;
    margin-right: 5px;
    outline: 0;
    font-size: 1.4rem;
    color: #8D8741
}

button {
    background-color: #659DBD;
    border: 1px solid #659DBD;
    border-radius: 10px;
    font-size: 1rem;
}

.clear-button {
    margin-top: 15px;
}